* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --color1: #F9F3F1;
    --color2: #D8B7A9;
    --color3: #B89A8C;
    --color4: #E3BFB6;
}

body {
    background-image: url(./img/background.png); 
    background-repeat: no-repeat;       
    background-position: center center; 
    background-size: cover;     

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    
    text-align: center;
    width: 600px;
    min-width:  40%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F2E7E1;
    padding: 40px;
    border-radius: 20px;
    

}

.foto-perfil {
    width: 200px;
    border: 3px solid var(--color3);
    border-radius: 50%;
    margin-top: 15px;
}

h1 {
    color: var(--color2);
    font-family: "Playfair Display", serif;
    font-size: 36px;
}

.title{
    font-family: "Playfair Display", serif;
    font-size: 23px ;
    margin: 10px;
    color: var(--color3);
}
.links{
    img {
        width: 50px;
    }
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    padding: 5px 40px;
    margin: 20px 0;
    background-color: var(--color4);
    text-decoration: none;
    width: 450px;
    border: 2px solid --color3; 
    border-radius: 10px;

    p{
        color: var(--color1);
        margin: 4px;
        font-size: 22px;
        padding-top: 10px;
    }
      
    
}

a:hover{
    opacity: 0.8;
    transform: translateY(-4px);
    box-shadow: 0 5px 15px var(--color3);
}

.link-whatsapp img {

    height: 70px;
    position: fixed;
    right: 70px;
    bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: #F9F3F1;
    --color2: #D8B7A9;
    --color3: #B89A8C;
    --color4: #E3BFB6;
}

body {
    background-image: url(./img/background.png); 
    background-repeat: no-repeat;       
    background-position: center center; 
    background-size: cover;     

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 600px;
    min-width: 40%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F2E7E1;
    padding: 40px;
    border-radius: 20px;
}

.foto-perfil {
    width: 200px;
    border: 3px solid var(--color3);
    border-radius: 50%;
    margin-top: 15px;
}

h1 {
    color: var(--color2);
    font-family: "Playfair Display", serif;
    font-size: 36px;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 23px;
    margin: 10px;
    color: var(--color3);
}

.links img {
    width: 50px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    padding: 5px 40px;
    margin: 20px 0;
    background-color: var(--color4);
    text-decoration: none;
    width: 450px;
    border: 2px solid var(--color3); 
    border-radius: 10px;
}

.link p {
    color: var(--color1);
    margin: 4px;
    font-size: 22px;
    padding-top: 10px;
}

a:hover {
    opacity: 0.8;
    transform: translateY(-4px);
    box-shadow: 0 5px 15px var(--color3);
}

.link-whatsapp img {
    height: 70px;
    position: fixed;
    right: 70px;
    bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
        position: relative;
        min-height: 100vh;  
        display: flex;     
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      
    }

    .foto-perfil {
        width: 200px;
    }

    h1 {
        font-size: 28px;
        margin: 10px;
    }

    .title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .link {
        width: 300px;        
         
    }

    .link p {
        font-size: 19px;
        padding-top: 5px;
        text-align: left;
        margin-left: 20px;
    }

    .links img {
        width: 40px;
    }

    .link-whatsapp img {
        
        position: absolute;
        right: 40px;  
        top: 160px;
        height: 55px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .title {
        font-size: 19px;
    }

    .link {
        
        align-items: center;
        gap: 5px;
        text-align: center;
        padding: 5px 20px;
    }

    .link p {
        font-size: 18px;
    }

    .links img {
        width: 35px;
    }

    .foto-perfil {
        width: 170px;
    }
}