body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e53b7a;
    color: #fff;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {

    background-color: rgb(54, 118, 102);
    border-radius: 11px;
    padding: 20px;
    text-align: center;
    width: 500px;
    max-width: 80%;
    max-height: 100%;
}

.profile {
    width: 251px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid rgb(47, 94, 82);
    box-shadow: 0 0 20px #e53b7a;
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
}


.title {
    font-size: 24px;
    font-weight: 600;
    display: block;    
    margin: auto;
    color: rgb(182, 19, 79);;
    margin-bottom: 20px;
}

.portugal {
    width: 60px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 60px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: rgb(47, 94, 82);
    text-decoration: none;
    

    p{
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        margin-left: 50px;
        
    }
}
.img-input {
    width: 42px;
    
}

a:hover{
    opacity: 0.6;
    transform: translateY(-4px);
    box-shadow: 0 5px 15px #e53b7a;
}

.link-whatsapp img {

    height: 70px;
    position: fixed;
    right: 70px;
    bottom: 20px;
}


@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 80%
    }
    main {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .profile {
        width: 150px;
    }

    h1 {
        font-size: 30px;
    }

    .title {
        font-size: 20px;
        font-weight: 400;
    }

    .link {
        padding: 7px;
    

        p{
            display: block;            
            margin: auto
        }
    }

    .link-whatsapp img {
        
    
    position: relative;
    right: 10%;
    bottom: 20px;
    }
}